.link {
    font-size: 15px;
    line-height: 22px;
    color: $white;
    position: relative;
    padding-bottom: 3px;
    padding-right: 19px;
    border-bottom: 1px solid $white;
    &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 4px;
        top: 7px;
        right: 0;
    }
    &:hover {
        color: $text;
        border-bottom: 1px solid $text;
        transition-duration: 0.3s;
        &::after {
            background-image: url(../img/arrow-black.svg);
        }
    }
}
