$text: #2A2A2A;
$text-grey: #B3B3B3;
$text-grey-price: #A8A8A8;
$light-green: #F7F7F7;
$text-green: #EAE7D9;
$black-text: #1A1A1A;
$red: #FF3451;
$white: #FFFFFF;
$beige: #ECD3CA;
$green: #7E6E45;
$bg-green: #CED3CA;
$bg: #F8F6F2;
$bg-black: #312F2E;
$border-grey: #DDDDDD;
$grey-price: #808080;
$green-accent: #2C2D19;
$red-accent: #911834;
$border: #242424;
